
	<% if !current_user %>
	<div class="container home">
	<div class="valign-wrapper">
		<div>
		<%= image_tag('valoren_logo_icon_designation_vertical_600x480.png', class: 'responsive-img') %>
		</div>
		<br>
		<div>
		<%= link_to 'Login', '/login',  :class => "waves-effect waves-light btn-large" %>
		</div>
		</div></div>
	<% else %>

		<%= render 'home/button' %>
	<% end %>



