// Place all the styles related to the Costs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {

	.btn {

	}

}
.card {

	margin: 0 auto;
	width: 100%;
	label {
		color: $vDarkBlue;
	}
}